@import 'react-day-picker/dist/style.css';

.rdp {
  --rdp-cell-size: 36px;
  --rdp-accent-color: var(--blue-700);
  --rdp-background-color: var(--gray-300);
  --rdp-outline: 1px solid var(--gray-900);
  --rdp-outline-selected: 2px solid var(--gray-900);
  margin: 0;
}

.rdp select {
  background-color: var(--gray-50);
  color: var(--gray-900);
  @apply p-4;
}
