<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CSGO_Demos_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Manager.Properties.Settings>
            <setting name="EnableCheckUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowAllFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResolutionWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ResolutionHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="IsFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedStatsAccountSteamID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowPovDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEbotDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEseaDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowValveDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDateColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBombPlantedColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBombDefusedColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDemoNameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMapNameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTeam1NameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTeam2NameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowScoreTeam1Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowScoreTeam2Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHostnameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClientnameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDemoTypeColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTickrateColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOneKillColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTwoKillsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowThreeKillsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFourKillsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFiveKillsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTotalKillsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBombExplodedColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDeathsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAssistsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowKdColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTkColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEkColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMvpColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPlayerScoreColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClutch1v1Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClutch1v2Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClutch1v3Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClutch1v4Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClutch1v5Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStartMoneyTeam1Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStartMoneyTeam2Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEquipementValueTeam1Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEquipementValueTeam2Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTickColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWinnerClanNameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWinColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWinnerSideColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DateFormatEuropean" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOldDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFaceitDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDurationColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFramerateColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCevoDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCommentColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClutchCountColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LaunchParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowTotalDamageHealthColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTotalDamageArmorColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAverageDamageColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBanColumns" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHlae" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CsgoExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowLeftPartDetails" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShowAllAccounts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShowAllPlayers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WatchAccountSteamId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowOnlyBannedSuspects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowKillPerRoundColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAssistPerRoundColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDeathPerRoundColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRoundTypeColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSideTroubleColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTeamTroubleColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPopFlashDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LimitStatsFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowJumpKillCoulmn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogOnlyKillOnOverview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCrouchKillsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTicksColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DateStatsFrom" serializeAs="String">
                <value>2011-11-30</value>
            </setting>
            <setting name="DateStatsTo" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowTradeKillColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTradeDeathColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowEseaRwsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRoundPlayedColumn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreLaterBan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseBotOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartBotOnLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOnlyAccountDemos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="UseCustomActionsGeneration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="AskThirdPartyConfirmation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HlaeConfigParentFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableHlaeConfigParent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCtTeamName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTteamName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DemosListSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ShowTimeDeathColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RawFilesFolderDestination" serializeAs="String">
                <value />
            </setting>
            <setting name="MovieOutputFileFolderDestination" serializeAs="String">
                <value />
            </setting>
            <setting name="MovieFramerate" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MovieUserCfg" serializeAs="String">
                <value />
            </setting>
            <setting name="MovieShowDefaultCfg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MovieAutoCloseGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MovieCleanUpRawFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MovieGenerateVideoFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MovieWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="MovieHeight" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="MovieUseVirtualDub" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MovieVideoQuality" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="MovieAudioBitrate" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="MovieVideoFramerate" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MovieOpenInExplorer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MovieHlaeConfigParentFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MovieEnableHlaeConfigParent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MovieShowDemoComment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MovieCsgoExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UseSimpleRadar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MovieDeathNoticesDisplayTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="IsWorldwideEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MovieFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxConcurrentAnalyzes" serializeAs="String">
                <value>4</value>
            </setting>
        </Manager.Properties.Settings>
        <CSGO_Demos_Manager.Properties.Settings>
            <setting name="EnableCheckUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowAllFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResolutionWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ResolutionHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="IsFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedStatsAccountSteamID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowPovDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEbotDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEseaDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowValveDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDateColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBombPlantedColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBombDefusedColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDemoNameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMapNameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTeam1NameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTeam2NameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowScoreTeam1Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowScoreTeam2Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHostnameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClientnameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDemoTypeColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTickrateColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOneKillColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTwoKillsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowThreeKillsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFourKillsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFiveKillsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTotalKillsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBombExplodedColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDeathsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAssistsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowKdColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTkColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEkColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMvpColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPlayerScoreColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClutch1v1Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClutch1v2Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClutch1v3Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClutch1v4Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClutch1v5Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStartMoneyTeam1Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStartMoneyTeam2Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEquipementValueTeam1Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEquipementValueTeam2Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTickColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWinnerClanNameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWinColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWinnerSideColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DateFormatEuropean" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOldDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFaceitDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDurationColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowFramerateColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCevoDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCommentColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClutchCountColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LaunchParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowTotalDamageHealthColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTotalDamageArmorColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAverageDamageColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBanColumns" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MoviemakerMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CsgoExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowLeftPartDetails" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShowAllAccounts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShowAllPlayers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WatchAccountSteamId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowOnlyBannedSuspects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowKillPerRoundColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAssistPerRoundColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDeathPerRoundColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRoundTypeColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSideTroubleColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTeamTroubleColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPopFlashDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LimitStatsFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowJumpKillCoulmn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogOnlyKillOnOverview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCrouchKillsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTicksColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DateStatsFrom" serializeAs="String">
                <value>2011-11-30</value>
            </setting>
            <setting name="DateStatsTo" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowTradeKillColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTradeDeathColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowEseaRwsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRoundPlayedColumn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreLaterBan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseBotOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartBotOnLaunch" serializeAs="String">
                <value>True</value>
            </setting>
        </CSGO_Demos_Manager.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
