<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSGO_Demos_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CSGO_Demos_Manager.Properties.Settings>
            <setting name="BannedPlayerCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableCheckUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowAllFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResolutionWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ResolutionHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="IsFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SteamID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowPovDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEbotDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEseaDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowValveDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDateColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBombPlantedColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBombDefusedColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDemoNameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMapNameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTeam1NameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTeam2NameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowScoreTeam1Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowScoreTeam2Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHostnameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClientnameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDemoTypeColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTickrateColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOneKillColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTwoKillsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowThreeKillsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFourKillsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFiveKillsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTotalKillsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBombExplodedColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDeathsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAssistsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowKdColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHsColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTkColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEkColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMvpColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPlayerScoreColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClutch1v1Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClutch1v2Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClutch1v3Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClutch1v4Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowClutch1v5Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStartMoneyTeam1Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStartMoneyTeam2Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEquipementValueTeam1Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEquipementValueTeam2Column" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTickColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWinnerClanNameColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWinColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWinnerSideColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DateFormatEuropean" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOldDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFaceitDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDurationColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowFramerateColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCevoDemos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOnlyUserStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCommentColumn" serializeAs="String">
                <value>True</value>
            </setting>
        </CSGO_Demos_Manager.Properties.Settings>
    </userSettings>
</configuration>