<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSGO_Demos_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CSGO_Demos_Manager.Properties.Settings>
            <setting name="BannedPlayerCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableCheckUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowAllFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResolutionWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ResolutionHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="IsFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SteamID" serializeAs="String">
                <value>0</value>
            </setting>
        </CSGO_Demos_Manager.Properties.Settings>
    </userSettings>
</configuration>